<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internshala.auth">

    <application>
        <activity
            android:name=".activities.Authentication"
            android:exported="true" />
    </application>

</manifest>